{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block header %}Página Inicial{% endblock %}

{% block content %}
    <h2>Bem-vindo à Biblioteca</h2>
    <a href="{{ url_for('listar_livros') }}">Gerenciar Livros</a><br>
    <a href="{{ url_for('listar_autores') }}">Gerenciar Autores</a><br>
    <a href="{{ url_for('listar_generos') }}">Gerenciar Gêneros</a><br>
    <a href="{{ url_for('listar_usuarios') }}">Gerenciar Usuários</a>
    <hr>
    <h3>Pesquisar Livros</h3>
    <form action="{{ url_for('pesquisa') }}" method="POST">
        <input type="text" name="query" placeholder="Digite o título do livro" required>
        <button type="submit">Pesquisar</button>
    </form>
{% endblock %}
