{% extends "base.html" %}

{% block title %}{{ usuario and 'Editar Usuário' or 'Adicionar Usuário' }}{% endblock %}

{% block header %}{{ usuario and 'Editar Usuário' or 'Adicionar Usuário' }}{% endblock %}

{% block content %}
    <form action="" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value="{{ usuario and usuario.nome or '' }}" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="{{ usuario and usuario.email or '' }}" required>
        <br>
        <button type="submit">{{ usuario and 'Salvar' or 'Adicionar' }}</button>
    </form>
    <br>
    <a href="{{ url_for('listar_usuarios') }}">Retornar à Lista de Usuários</a>
{% endblock %}
