{% extends "base.html" %}

{% block title %}Lista de Autores{% endblock %}

{% block header %}Lista de Autores{% endblock %}

{% block content %}
    <h2>Lista de Autores</h2>
    <ul>
        {% for autor in autores %}
        <li>{{ autor.nome }} - <a href="{{ url_for('editar_autor', id=autor.id) }}">Editar</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('adicionar_autor') }}">Adicionar Autor</a>
    <br>
    <a href="{{ url_for('index') }}">Retornar à Página Inicial</a>
{% endblock %}
